<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Projects</title>
        <link rel="stylesheet">
    </head>

    <body>
        <header>
            <nav>
                <ul>
                    {% if user.is_authenticated %}
                        <li class="nav-item">
                            <a href="{% url 'show_my_tasks' %}">My tasks</a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'list_projects' %}">My projects</a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'logout' %}">Logout</a>
                        </li>
                    {% else %}
                        <li class="nav-item">
                            <a href="{% url 'login' %}">Login</a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'signup' %}">Sign Up</a>
                        </li>
                    {% endif %}
                </ul>
            </nav>
        </header>
        <main>
            <div>
                <h1>My Projects</h1>
                <li class="nav-item">
                    <a href="{% url 'create_project' %}">Create a new project</a>
                    {% if project_list%}
                        {% for project in project_list %}
                            <table>
                                <thead>
                                    <tr>
                                        <th> Name </th>
                                        <th>Number of tasks</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                            <a href="{% url 'show_project' project.id %}">{{ project.name }}</a>
                                        </td>
                                        <td>{{ project.tasks.all|length}}</td>
                                    </tr>
                        {% endfor %}
                    {%else%}
                        <p>You are not assigned to any projects</p>
                    {%endif%}









