<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Projects</title>
        <link rel="stylesheet">
    </head>

    <body>
        <header>
            <nav>
                <ul>
                    {% if user.is_authenticated %}
                        <li class="nav-item">
                            <a href="{% url 'show_my_tasks' %}">My tasks</a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'list_projects' %}">My projects</a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'logout' %}">Logout</a>
                        </li>
                    {% else %}
                        <li class="nav-item">
                            <a href="{% url 'login' %}">Login</a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'signup' %}">Sign Up</a>
                        </li>
                    {% endif %}
                </ul>
            </nav>
        </header>
        <main>
            <div>
                <h1>My Tasks</h1>
                {% if tasklist%}
                    {% for task in tasklist %}
                        <table>
                            <thead>
                                <tr>
                                    <th> Name </th>
                                    <th>Start date</th>
                                    <th> End date </th>
                                    <th> Is completed</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td> {{task.name}} </td>
                                    <td> {{task.start_date| date:"M d, Y"}} </td>
                                    <td> {{task.due_date| date:"M d, Y"}} </td>
                                    <td> {%if task.is_completed == False %}
                                        <form method="post" action="{% url 'complete_task' task.id %}">
                                            {% csrf_token %}
                                            <input type="hidden" name="is_completed" value="True">
                                            <button>Complete</button>
                                        </form>
                                    {%else%}
                                        {{task.is_completed}}
                                    {%endif%}
                                    </td>
                                </tr>
                    {% endfor %}
                {%else%}
                    <p>You have no tasks</p>
                {%endif%}